.side-panel {
    position: fixed;  
    top: 0;
    right: -20vw;   
    width: 20%;    
    height: 100%;    
    background-color:rgba(145, 185, 190, 0.97); 
    color: rgb(17, 53, 68);   
    transition: right 0.6s ease-out; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 2.5rem;
    z-index: 1000;   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.light-mode .side-panel {   
    background-color:#e6b447; 
    color: #4b1414;    
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-panel.visible {
    right: 0;
}


.poll,.trending,.subscription{
    gap: .5rem;
    text-align: center;
}


.trending li {
    text-align: left;
}


.subscription button,input{
    width: auto;
    margin-left: 0;
}
