.dark-mode .content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: #111;
  }
  
  .dark-mode .trend-container {
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #111;
    box-shadow: 2px 4px 8px rgba(0, 204, 204, 0.4);
    padding: 1rem;
    overflow-y: auto;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 20%;
   
  }
  
  .dark-mode .trend-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00cccc;
    margin-bottom: 1rem;
  }
  
  .dark-mode .headline-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
  }
  
  .dark-mode .trend-item {
    font-size: 1.2rem;
    color: #918f8f;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
  }
  
  .dark-mode .trend-item:hover {
    color: #ffffff;
    transform: translateX(0.6rem);
    text-shadow: 1px 1px 5px #646b6b;
  }
  