.light-mode .content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: #f7f7f7;
  }
  
  .light-mode .trend-container {
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #ffcf33;
    box-shadow: 3px 3px 20px rgb(53, 51, 50);
    padding: 1rem;
    overflow-y: auto;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 20%;
   
  }
  
  .light-mode .trend-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .light-mode .headline-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
  }
  
  .light-mode .trend-item {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
  }
  
  .light-mode .trend-item:hover {
    color: black;
    text-shadow: 1px 1px 20px black;
    transform: translateX(0.6rem);
  }
  
 