.about-container {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Black background */
    color: #fff; /* White text */
    padding: 1rem;
}

.header {
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    background-color: #000000; /* Black background */
    box-shadow: 0 4px 8px rgba(0, 204, 204, 0.3); /* Teal shadow */
}

.dark-mode-button {
    border: none;
    background-color: #00cccc; /* Teal button */
    color: #f0efef;
    font-size: 1.5rem;
}


