.light-mode .container {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  background-color: #000000;
  color: #ffcf33; 
  border-radius: 12px; 
  max-width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6); /* Crazy shadow */
  }

.light-mode   .footernav1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  width: 100%;
  padding-top: 0.5rem;
}

.light-mode .info 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 650;
  text-shadow: 0 2px 25px #000000; /* Black shadow for text */
}
  
.light-mode .info a 
{
  text-decoration: none;
  color: #ffcf33; 
  transition: all .3s ease;
}

.light-mode .info a:hover
{
  text-decoration:underline #ffcf33;
  color: #ffcf33; 
}

.light-mode .footernav2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  height: 65%;
  width: 100%; 
  gap: 1rem;
}
  
.light-mode .socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 15%;
}

.light-mode .social-icon{
  color: #ffcf33;
  font-size: 1.6rem;
  transition: all .4s ease-out;
}


.light-mode .social-icon:hover{
  color: #ffcf33;
  font-size: 4rem;
}
  
.light-mode .legal {  
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 18%;
  padding-top: 1.3rem;
  font-weight: 500;
}
  