.help-container {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    padding: 1rem;
}

.header {
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #d4af37; /* Light golden background */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Crazy shadow */
}

.dark-mode-button {
    border: none;
    background-color: #d4af37; /* Light golden */
    color: #5a4f4f;
    font-size: 1.3rem;
}

