.dark-mode .Help {
    background-color: #1a1a1a;
    color: rgb(142, 198, 203);
    padding: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.light-mode .Help {
    background-color: #fcfcfc;
    color: #111;
    padding: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Help h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.Help h2 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.Help h3 {
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.Help p, .Help ul {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    line-height: 1.6;
}

.Help li {
    margin-bottom: 0.8rem;
    line-height: 1.4;
}

.dark-mode .Help a {
    color: rgb(142, 198, 203);
    text-decoration: underline;
}


.light-mode .Help a {
    color: #111;
    text-decoration: underline;
}
